*.gfs
*.gml
*.gpkg
*.vpc
*_commands.txt
*_cmd.txt
*.zip
*.log
*_urls.txt
settings.json

build/
vector_tiles/
build_vpc_logs/
block_urls_dir/
vpc/
pdal_pipelines/
pdal_pc_tiles/
pdal_logs/
wrench_pc_tiles/
wrench_bbox/
wrench_logs/
raw_tiles/
geoflow_results/
backup_data/
